<h1>Application Exemple</h1>

<p>
	C'est la page d'accueil pour l'application exemple du Tuto RoR
</p>

<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %> <!-- <a href="#" class="signup_button round">S'inscrire !</a> -->
